  <div class="tool">
    <div class="tool-title">Global Natural Hazard Viewer <br/> </div>
    <div class="divider"></div>
    <div class="tool-content">
      <div id="panel_forecast" style="margin-top: 10px; margin-bottom:10px;">
        <h5>Global Forecast Heat Map: M &gt; 6.5, 1 Year.   &nbsp; &nbsp; California Forecast Heat Map: M &gt; 5, 1 Year (Open Hazards Group)</h5>
        Earthquake magnitude shown by circle size. Hotter colors are more recent events. Click on earthquake markers for event data. (USGS).<p/>
        <label for="Global Forecast">Global Forecast</label>
        <input id="Global Forecast" type="checkbox" value="false" onclick="calcwo()"><br/>
        <label for="California Forecast">California Forecast</label>
        <input id="California Forecast" type="checkbox" value="false" onclick="calcca()"><br/>
      </div>
      <div id="panel_quakes" style="margin-top: 10px; margin-bottom:10px;">
        <h5>Recent Earthquakes from USGS</h5>
        <label for="EQDay">M &gt; 1.0, Last Day</label>
        <input id="EQDay" value = false type="checkbox" onclick="eqDay();"/><br/>
        <label for="EQWeek">M &gt; 2.5, Last Week</label>
        <input id="EQWeek" value = false type="checkbox" onclick="eqWeek();"/><br/>
        <label for="EQMonth">M &gt; 4.5, Last Month</label>
        <input id="EQMonth" value = false type="checkbox" onclick="eqMonth();"/><br/>
        <label for="EQToggle">Show or Hide Earthquakes</label>
        <input id="EQToggle" value = false type="checkbox" onclick="eqToggle();"/><br/>
        <label for="Faults">Show California Faults:</label> 
        <input id="Faults" value = false type="checkbox" onclick="showFaults();"/><br/>
        <h5>Filter Earthquakes</h5>
        <label for="M5">M &gt; 5</label>
        <input id="M5" value = false type="checkbox" onclick="filterM5()"/><br/>
        <label for="M65">M &gt; 6.5</label>
        <input id="M65" value = false type="checkbox" onclick="filterM65()"/><br/>
        <label for="Depth30">Depth &le; 30 km</label>
        <input id="Depth30" value = false type="checkbox" onclick="filterDepth30()"/><br/>            
      </div>
      <div>
        <h5>Other Hazards</h5>
        <label for"GDACS">Show GDACS Data:</label>
        <input id="GDACS" type="checkbox" onclick="showGDACS()"><br/>
        <label>Get a Space-Time Earthquake Forecast from the <a href="http://www.openhazards.com/viewer">Open Hazards Site</a></label>            
      </div>
    </div>
  </div>
