<script type="text/javascript">
/////////////////////////// INTRO WINDOW RELATED /////////////////////////

// script for the opening and closing animation for the intro window
$(document).ready(function() {
    $('.intro-window-close').click(function() {
        if($('.intro-window').hasClass('open')) {
            $('.intro-window').removeClass('open').addClass('closed');
            $('.intro-window-close').hide(0);
            $('.intro-window-feedback').hide(0);
            $('.intro-window-news').hide(0);
            $('.intro-window-about').hide(0);
            $('.intro-window-welcome').hide(0);
            $('.main-logo').hide(0);
            $('.welcome-text').hide(0);
            // $('.intro-window-content').animate({height: "0px"}, 500);
            // $('.intro-window').animate({height: "0px"}, 500);
            $('.intro-window-content').slideUp(500);
            $('.intro-window').slideUp(500);
            $('#map-canvas').removeClass('blur');
            $('.tools-panel').removeClass('blur');
        }
    });
    $('.intro-window-open').click(function() {
        if($('.intro-window').hasClass('closed')) {
            $('.intro-window').removeClass('closed').addClass('open');
            // $('.intro-window').animate({height: "calc(95% - 3px)"}, 500);
            // $('.intro-window-content').animate({height: "calc(95% - 3px)"}, 500);
            $('.intro-window').slideDown(500);
            $('.intro-window-content').slideDown(500);
            $('.intro-window-close').show(0);
            $('.intro-window-feedback').show(0);
            $('.intro-window-news').show(0);
            $('.intro-window-about').show(0);
            $('.intro-window-welcome').show(0);
            $('.main-logo').show(0);
            $('.welcome-text').show(0);
            $('#map-canvas').addClass('blur');
            $('.tools-panel').addClass('blur');
        }
    });
});
</script> 
<div class="intro-window-open">
  <span class="glyphicon glyphicon-chevron-down intro-window-open-glyph"> </span>
</div>
<div class="intro-window open">
  <div class="intro-window-content">
    <div class="intro-window-welcome">
      <div class="welcome-text default-font huge">Welcome to</div>
      <img class="main-logo" src="images/logos/logo_black.png" alt="GeoGateway Logo">
    </div>
    <div class="intro-window-about default-font large">
      GeoGateway is a data product search and analysis gateway for scientific discovery, field use, and disaster response. GeoGateway focuses on NASA geodetic imaging products from InSAR and GPS integrated with earthquake faults datasets, seismicity, and models.
    </div>
    <div class="intro-window-news default-font large">
      <div class="intro-window-box-title">News</div>
      <div class="intro-window-box-content">
        Initial model of the M 7.8 Nepal earthquake as may be seen by an Interferometric Synthetic Aperture (InSAR) spacecraft such as Sentinal-1 or ALOS-2 and GPS. The model is based on USGS mechanism of a near horizontal fault and the location of aftershocks. This image shows a synthetic interferogram for a descending pass of –168°, 24 cm wavelength, elevation of 40°. Fault is 11° dip striking 295°. Maximum displacement vector is about 2.3 m. Color wrap is 24 cm per fringe.
        <p/>
        <a href="images/GeoGatewayNepal2Solution.kmz" target="_blank">Solution KMZ</a>
        <a href="images/Deformation20150501a.jpeg" target="_blank">
          <img src="images/Deformation20150501a.jpeg" style="display:block;margin-left:auto;margin-right:auto;width:auto;height:auto;max-height:250px"/>
        </a>
        <!--
            <div data-ng-controller="FeedCtrlBlog">
              <div class="row-fluid">
                <div class="row-fluid" ng-init="loadFeed()">
                  <ul class="unstyled">
                    <li ng-repeat="feed in feeds | limitTo:3">                    
                      <h5><a href="{{feed.link}}">{{feed.title}}</a></h5>
                      <p class="text-left">{{feed.contentSnippet}}</p>                    
                      <span class="small">{{feed.publishedDate}}</span>
                    </li>                
                  </ul>            
                </div>
              </div>
              -->
      </div>
      
      <!--
          <div class="intro-window-feedback default-font large">
            <div class="intro-window-box-title">System Updates</div>
            <div data-ng-controller="FeedCtrlJira">
              <div class="row-fluid">
                <div class="row-fluid" ng-init="loadFeed()">
                  <ul class="unstyled">
                    <li ng-repeat="feed in feeds | limitTo: 3">                    
                      <h5><a href="{{feed.link}}">{{feed.title}}</a></h5>
                      <p class="text-left">{{feed.contentSnippet}}</p>                    
                      <span class="small">{{feed.publishedDate}}</span>
                    </li>                
                  </ul>            
                </div>
              </div>
            </div>
            -->
    </div>
    <div class="intro-window-close">
      <button class="intro-window-close-button">
        <span class="glyphicon glyphicon-chevron-up intro-window-close-glyph"> </span>
        <span class="default-font huge intro-window-close-sign">&nbsp;Access Tools</span>
      </button>
    </div>
  </div>
</div>
