<!DOCTYPE html>
<html lang="en" ng-app="UserProjectApp">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>KML Layers</title>
    <style>
      html, body, #map-canvas {
      height: 100%;
      margin: 0px;
      padding: 0px
      }
    </style>
<!--    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script> -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=drawing"></script>
  </head>
  <body>
    <script>
      var map;
      var mapOptions;
      var kmllayer;
      var kmlLayerArray;
      
      function initialize() {
      var myLatlng = new google.maps.LatLng(34.0, -118.0);
      mapOptions = {
      style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
      position: google.maps.ControlPosition.TOP_CENTER,
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.TERRAIN,
      scaleControl:true,
      center: myLatlng
      };
      
      map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
      
      }
      
      google.maps.event.addDomListener(window, 'load', initialize);

      function addKmlLayer(){
         var theLayer=document.getElementById("kmlUrl").value;
         console.log("Adding layer:"+theLayer);
         kmlLayer = new google.maps.KmlLayer({
         url: theLayer,
         suppressInfoWindows: false,
         map: map
      });
      }
      
      
    </script>
    <div id="map-canvas" style="width:75%; height:100%; float: left"></div>
    <div id="kml-list-canvas" style="width:25%; height:100%; float: left">
      (Optional) Upload from your local file system or else cut and paste URL below:
      <div ng-controller="UploadController">
        <div class="row">
          <div class="col-md-12 form-group">
            <input type="file" file-model="myFile">
          </div>
          <div class="col-md-12 form-group">
            <button class="btn btn-sm btn-primary" ng-click="uploadFileForKmlOld()">Upload File</button>
          </div> 
        </div>
      </div>
      <p>
        KML URL:
      <br>
      <input type="text" size="50" id="kmlUrl"/>
      <button type="button" onclick="addKmlLayer()">Plot</button>
      <p>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>

  </body>
</html>
