<!DOCTYPE html>
<html lang="en" ng-app="UserProjectApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">    

    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/qtip2/jquery.qtip.min.css"/>
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">


    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <script src="bower_components/qtip2/jquery.qtip.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=drawing"></script>
    <script type="text/javascript" src="js/wms.js"></script>
    <script type="text/javascript" src="js/tools.js"></script>

    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>

    <!-- dygraphs -->
    <script type="text/javascript" src="js/dygraph-combined.js"></script>
    
    <!-- ajaxForm jquery plugin -->
    <script src="http://malsup.github.com/jquery.form.js"></script>
    


    <!-- javascript for the animated PROFILE PANEL -->
    <script>
      // PROFILE-PANEL-RIGHT contains all of the profile tab panels
      // this includes Notecards, Colleagues, Settings, Logout button, etc
      
      // script for animated PROFILE-PANEL OPENING functionality
      $(document).ready(function() {
      // open up profile panel
      $('.panel-toggle').click(function() {
      if($(this).is('#tools')) {
      if($('.tools-panel').hasClass('open'))
      {
      $('.tools-panel').removeClass('open');
      $('.tools-panel').addClass('closed');
      $('.tools-panel').animate({width: "0px"}, 50);
      $('#map-canvas').animate({left: "0px"}, 50);
      var new_width = $('#map-canvas').width() + 450;
      $('#map-canvas').animate({width: new_width + "px"}, 50);
                new_width = $('.extra-tools-panel').width() + 450;
      $('.extra-tools-panel').animate({left: "0px",
      width: new_width + "px"}, 50);
                //This doesn't work for some reason
      google.maps.event.trigger(mapA,'resize',{});
      }
      else
            {
                $('.tools-panel').removeClass('closed');
                $('.tools-panel').addClass('open');
                $('.tools-panel').animate({width: "450px"}, 50);
                $('#map-canvas').animate({left: "450px"}, 50);
                var new_width = $('#map-canvas').width() - 450;
                $('#map-canvas').animate({width: new_width + "px"}, 50);
                new_width = $('.extra-tools-panel').width() - 450;
                $('.extra-tools-panel').animate({left: "450px",
                                                width: new_width + "px"}, 50);
                //This doesn't work for some reason
                google.maps.event.trigger(mapA,'resize',{});
            }
            // loadNotecards('.notecard-container', {{ user.id }}, 0, 5, 'append');
            // loadNotecards('.newsfeed-container', -1, 0, 5, 'append');
            // getColleagues();
        }
        else {
            if($('.profile-panel').hasClass('open'))
            {
                $('.profile-panel').removeClass('open');
                $('.profile-panel').addClass('closed');
                $('.profile-panel').animate({width: "0px"}, 50);
                var new_width = $('#map-canvas').width() + 250;
                $('#map-canvas').animate({width: new_width + "px"}, 50);
                new_width = $('.extra-tools-panel').width() + 250;
                $('.extra-tools-panel').animate({width: new_width + "px"}, 50);
            }
            else
            {
                $('.profile-panel').removeClass('closed');
                $('.profile-panel').addClass('open');
                $('.profile-panel').animate({width: "250px"}, 50);
                var new_width = $('#map-canvas').width() - 250;
                $('#map-canvas').animate({width: new_width + "px"}, 50);
                new_width = $('.extra-tools-panel').width() - 250;
                $('.extra-tools-panel').animate({width: new_width + "px"}, 50);
            }
            // $('.notecard-container').empty();
            // $('.colleague-container').empty();
        }
    });
});


///////////////////////////// NOTECARDS RELATED //////////////////////////

// sends an ajax GET request to the view to retreive some of the NOTECARD
// posted by the user
// start_index and num_cards decides which NOTECARDs to return
// e.g. start_index = 4, num_cards = 3 means return 4th, 5th and 6th
// latest cards)
// container decides which div the notecards should be loaded to
// card_owner_id decides whose notecards to load
// This function is also used for retrieving NOTECARDs for the NEWS FEED
// tab panel (this query is made with /gguser/-1/get_notecards/num_cards
// in other words, card_ownder_id = -1)
function loadNotecards(container, card_owner_id, start_index, num_cards, type) {
    // keep track of how many notecards are retrieved
    var num_loaded_cards = 0;
    // send ajax request for recent Notecards
    $.get('/gguser/' + String(card_owner_id) + '/get_notecards/' + start_index + '/' + num_cards, function(notecards) {
        $.each(notecards, function() {
            // append/ prepend the notecards
            // append used for new notecards
            // prepend used for loading more notecards
            if(type == 'append')
                $(container).append('\
                    <div class="notecard" id="' + this.id + '">\
                        <div class="notecard-title">\
                            <b>' + this.title + '</b> <span class="pub-date">last edited: ' + 
                            this.last_edited + ' by ' + this.last_editor + '</span>\
                        </div>\
                        <div class="notecard-content">' +
                            this.content + '\
                        </div>\
                    </div>\
                    <div class="profile-panel-divider"></div>');
            else
                $(container).prepend('\
                    <div class="notecard" id="' + this.id + '">\
                        <div class="notecard-title">\
                            <b>' + this.title + '</b> <span class="pub-date">last edited: ' + 
                            this.last_edited + '</span>\
                        </div>\
                        <div class="notecard-content">' +
                            this.content + '\
                        </div>\
                    </div>\
                    <div class="profile-panel-divider"></div>');
            // attach image if it exists
            if(this.image)
                $(container).children('.notecard#' + this.id).append('\
                        <div class="notecard-image-container">\
                            <img class="notecard-image" src="media/' + this.image + '" alt="notecard_pic">\
                        </div>');
            // attach Public/ Private button if not NEWS FEED
            if(container == '.notecard-container')
            {
                $(container).children('.notecard#' + this.id).children('.notecard-title').append('\
                            <a class="notecard-delete">delete</a>\
                            <a class="notecard-edit">edit|</a>\
                            <button class="notecard-privacy-btn ' + this.privacy.toLowerCase() + '">' +
                                this.privacy +
                            '</button>');
            }
            // console.log('logs retrieved');
            num_loaded_cards = num_loaded_cards + 1;
        });
        // if no notecards are left, remove the btn for loading more
        // notecards
        if(num_loaded_cards < 5)
            $(container).parent().children('.load-more-notecards').addClass('inactive');
    });
}

// script for loading more NOTECARDs
$(document).ready(function() {
    $('.load-more-notecards').click(function() {
        var container_class = $(this).val();
        if(container_class == '.newsfeed-container')
            loadNotecards(container_class, -1, $(container_class + ' .notecard').length, 5, 'append');
        else
            loadNotecards(container_class, None, $(container_class + ' .notecard').length, 5, 'append');
    });
});

// if you click on a small image in a NOTECARD, it enlarges
// if you click on a large image in a NOTECARD, it shrinks
$(document).ready(function() {
    $('.notecard-container').on('click', '.notecard-image', function() {
        $(this).removeClass('notecard-image').addClass('notecard-image-large');
    });
    $('.notecard-container').on('click', '.notecard-image-large', function() {
        $(this).removeClass('notecard-image-large').addClass('notecard-image');
    });
});

// script for posting a new NOTECARD
//$(document).ready(function() {
//    var options = {
//        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
//        success: function(response) {
//            if(response == 'SUCCESS')
//            {
//                loadNotecards('.notecard-container', {{ user.id }}, 0, 1, 'prepend');
//                $('.new-notecard-form').clearForm();
//                // console.log('log posted');
//            }
//            else
//            {
//                $('.new-notecard-form').prepend('<div class="required">* title and content are both required and only images can be attached<div>');
//            }
//        }
//    };
//    $('.new-notecard-form').ajaxForm(options);
//});

$(document).on('submit', '.new-notecard-form', function (event) {
    event.stopPropagation();
    event.preventDefault();
    return false;
});

// script for editing a NOTECARD
/*
$(document).ready(function() {
    var options = {
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(response) {
            if(response == 'SUCCESS')
            {
                loadNotecards('.notecard-container', {{ user.id }}, 0, 1, 'prepend');
                $('.new-notecard-form').clearForm();
                // console.log('log posted');
            }
            else
            {
                $('.new-notecard-form').prepend('<div class="required">* title and content are both required and only images can be attached<div>');
            }
        }
    };
    $('.notecard-edit-form').ajaxForm(options);
});*/

// script for deleting a NOTECARD
$(document).ready(function() {
    $('.notecard-container').on('click', '.notecard-delete', function() {
        var card_id = $(this).parent().parent().attr('id');
        $.ajax({
                type: "POST",
                url: '/gguser/{{ user.id }}/delete_notecard/' + String(card_id) + '/'
            })
                .done(function() {
                    $('.notecard#' + card_id).remove();
                });
    });
});

// script for publishing/ unpublishing a NOTECARD
$(document).ready(function() {
    $('.notecard-container').on('click', '.notecard-privacy-btn', function() {
        var card_id = $(this).parent().parent().attr('id');
        var btn = $(this);
        if($(this).hasClass('private'))
            $.ajax({
                    type: "POST",
                    url: '/gguser/{{ user.id }}/publish_notecard/' + String(card_id) + '/1/'
                })
                    .done(function() {
                        $(btn).removeClass('private').addClass('public');
                        $(btn).text('Public');
                    });
        else
            $.ajax({
                    type: "POST",
                    url: '/gguser/{{ user.id }}/publish_notecard/' + String(card_id) + '/0/'
                })
                    .done(function() {
                        $(btn).removeClass('public').addClass('private');
                        $(btn).text('Private');
                    });
    });
});
//////////////////////////// COLLEAGUES RELATED //////////////////////////

// sends an ajax POST request that marks a COLLEAGUE as FOLLOWED by adding
// the corresponding COLLEAGUE to the user's COLLEAGUES list in the view
// also change FOLLOW BTN to FOLLOWING BTN
function follow(btn, followee_id) {
    $.ajax({
            type: "POST",
            url: '/gguser/{{ user.id }}/follow/' + followee_id + '/',
        })
            .done(function() {
                $(btn).removeClass('follow-btn').addClass('following-btn');
                $(btn).text("Following");
            })
            .fail(function() {
                console.log("ajax request failed")
            });
};

// opposite of follow function
function unfollow(btn, followee_id) {
    $.ajax({
            type: "POST",
            url: '/gguser/{{ user.id }}/unfollow/' + followee_id + '/',
        })
            .done(function() {
                $(btn).removeClass('following-btn').addClass('follow-btn');
                $(btn).text("Follow");
            })
            .fail(function() {
                console.log("ajax request failed")
            });
};

// ready click listeners for FOLLOW/ FOLLOWING BTNs
$(document).ready(function() {
    $('.colleague-container').on('click', '.follow-btn', function() {
        var followee_id = $(this).val();
        follow($(this), followee_id);
    });
    $('.colleague-container').on('click', '.following-btn', function() {
        var followee_id = $(this).val();
        unfollow($(this), followee_id);
    });
});

// sends an ajax GET request to retrieve ALL COLLEAGUES currently
// registered (will implement DJANGO HAYSTACK SOLR search engine later)
function getColleagues() {
    $.get('/gguser/{{ user.id }}/get_colleagues/', function(colleagues) {
        $.each(colleagues, function() {
            if(this.following == "True")
                $('.colleague-container').append('\
                    <div class="colleague">\
                        <img class="prof-pic-thumbnail" src="media/' + this.prof_pic + '" alt="prof_pic" onError="noImage(this);">\
                        <div class="colleague-info">\
                            @' + this.username + '\n' +
                            this.email + '\n' +
                            this.name + ' <button class="following-btn" value="' + this.id + '">Following</button><br>' +
                        '</div>\
                    </div>');
            else
                $('.colleague-container').append('\
                    <div class="colleague">\
                        <img class="prof-pic-thumbnail" src="media/' + this.prof_pic + '" alt="prof_pic" onError="noImage(this);">\
                        <div class="colleague-info">\
                            @' + this.username + '\n' +
                            this.email + '\n' +
                            this.name + ' <button class="follow-btn" value="' + this.id + '">Follow</button><br>' +
                        '</div>\
                    </div>');
        });
    });
};

/////////////////////////// INTRO WINDOW RELATED /////////////////////////

// script for the opening and closing animation for the intro window
$(document).ready(function() {
    $('.intro-window-close').click(function() {
        if($('.intro-window').hasClass('open')) {
            $('.intro-window').removeClass('open').addClass('closed');
            $('.intro-window-close').hide(0);
            $('.intro-window-feedback').hide(0);
            $('.intro-window-news').hide(0);
            $('.intro-window-about').hide(0);
            $('.intro-window-welcome').hide(0);
            $('.main-logo').hide(0);
            $('.welcome-text').hide(0);
            // $('.intro-window-content').animate({height: "0px"}, 500);
            // $('.intro-window').animate({height: "0px"}, 500);
            $('.intro-window-content').slideUp(500);
            $('.intro-window').slideUp(500);
            $('#map-canvas').removeClass('blur');
            $('.tools-panel').removeClass('blur');
        }
    });
    $('.intro-window-open').click(function() {
        if($('.intro-window').hasClass('closed')) {
            $('.intro-window').removeClass('closed').addClass('open');
            // $('.intro-window').animate({height: "calc(95% - 3px)"}, 500);
            // $('.intro-window-content').animate({height: "calc(95% - 3px)"}, 500);
            $('.intro-window').slideDown(500);
            $('.intro-window-content').slideDown(500);
            $('.intro-window-close').show(0);
            $('.intro-window-feedback').show(0);
            $('.intro-window-news').show(0);
            $('.intro-window-about').show(0);
            $('.intro-window-welcome').show(0);
            $('.main-logo').show(0);
            $('.welcome-text').show(0);
            $('#map-canvas').addClass('blur');
            $('.tools-panel').addClass('blur');
        }
    });
});

//////////////////////////////// SETTINGS ////////////////////////////////

// script for editting SETTINGS
$(document).ready(function() {
    $('.settings-change').click(function() {
        $('.setting-table td').each(function() {
            if($(this).hasClass('active'))
                $(this).removeClass('active').addClass('inactive');
            else if($(this).hasClass('inactive'))
                $(this).removeClass('inactive').addClass('active');
        });
    });
});
</script>


<script type="text/javascript">
// updates the TAB panel to highlight only the active tab
// called every time a tab is activated
function updateTabPanel(type) {
    if(type == 'profile')
    {
        var active_tab = $('.profile-tabs').children('.active').children().val();
        $('.profile-panel').children('.active').removeClass('active').addClass('inactive');
        $('.profile-panel').children('#' + active_tab).removeClass('inactive').addClass('active');
    }
    else if(type == "tools")
    {
        var active_tab = $('.tool-tabs').children('.active').children().val();
        $('.tools-panel').children('.active').removeClass('active').addClass('inactive');
        $('.tools-panel').children('#' + active_tab).removeClass('inactive').addClass('active');
    }
};

// listener for PROFILE PANEL TABS
$(document).ready(function() {
    $('.tab-button').click(function() {
        if($(this).hasClass('tool-tab-button'))
        {
            $(this).parent().parent().children().removeClass('active');
            $(this).parent().addClass('active');
            updateTabPanel('tools');
        }
        if($(this).hasClass('profile-tab-button'))
        {
            $(this).parent().parent().children().removeClass('active');
            $(this).parent().addClass('active');
            updateTabPanel('profile');
        }
    });
});

// javascript for MISSING IMAGE replacement
function noImage(image) {
    image.onerror = "";
    image.src = "images/prof_pics/default.jpg"
}
</script>

<title>GeoGateway</title>
</head>

<body>
  <div class="blur" id="map-canvas"></div>
  <div id="info-bar"></div>
  
  <!-- navbar block -->
  <!-- geogateway site navigation bar -->
  <div class="navigation">
    <img id="logo-nav" src="/images/logos/logo.png" alt="GeoGateway Logo">
    <span class="default-font lightBLUE"> Tools for Analysis, Modeling, and Response of Geodetic Imaging Products</span>
    
    <!-- set up tools panel and profile panel toggle -->
    <button class="panel-toggle" id="tools"><span class="glyphicon glyphicon-wrench"> </span></button>
    
    <button class="panel-toggle" id="profile"><span class="glyphicon glyphicon-user"> </span></button>
    
  </div>
  
  <div class="navigation-shadow"></div>
  
  <div class="intro-window-open">
    <span class="glyphicon glyphicon-chevron-down intro-window-open-glyph"> </span>
  </div>
  <div class="intro-window open">
    <div class="intro-window-content">
      <div class="intro-window-welcome">
        <div class="welcome-text default-font huge">Welcome to</div>
        <img class="main-logo" src="images/logos/logo_black.png" alt="GeoGateway Logo">
      </div>
      <div class="intro-window-about default-font large">
        GeoGateway is a data product search and analysis gateway for scientific discovery, field use, and disaster response. GeoGateway focuses on NASA geodetic imaging products from InSAR and GPS integrated with earthquake faults datasets, seismicity, and models.
      </div>
      <div class="intro-window-news default-font large">
        <div class="intro-window-box-title">News</div>
        <div class="intro-window-box-content">
          Initial model of the M 7.8 Nepal earthquake as may be seen by an Interferometric Synthetic Aperture (InSAR) spacecraft such as Sentinal-1 or ALOS-2 and GPS. The model is based on USGS mechanism of a near horizontal fault and the location of aftershocks. This image shows a synthetic interferogram for a descending pass of –168°, 24 cm wavelength, elevation of 40°. Fault is 11° dip striking 295°. Maximum displacement vector is about 2.3 m. Color wrap is 24 cm per fringe.
          <p/>
          <a href="images/GeoGatewayNepal2Solution.kmz" target="_blank">Solution KMZ</a>
          <a href="images/Deformation20150501a.jpeg" target="_blank">
            <img src="images/Deformation20150501a.jpeg" style="display:block;margin-left:auto;margin-right:auto;width:auto;height:auto;max-height:250px"/>
          </a>
          <!--
              <div data-ng-controller="FeedCtrlBlog">
                <div class="row-fluid">
                  <div class="row-fluid" ng-init="loadFeed()">
                    <ul class="unstyled">
                      <li ng-repeat="feed in feeds | limitTo:3">                    
                        <h5><a href="{{feed.link}}">{{feed.title}}</a></h5>
                        <p class="text-left">{{feed.contentSnippet}}</p>                    
                        <span class="small">{{feed.publishedDate}}</span>
                      </li>                
                    </ul>            
                  </div>
                </div>
                -->
        </div>
        
        <!--
            <div class="intro-window-feedback default-font large">
              <div class="intro-window-box-title">System Updates</div>
              <div data-ng-controller="FeedCtrlJira">
                <div class="row-fluid">
                  <div class="row-fluid" ng-init="loadFeed()">
                    <ul class="unstyled">
                      <li ng-repeat="feed in feeds | limitTo: 3">                    
                        <h5><a href="{{feed.link}}">{{feed.title}}</a></h5>
                        <p class="text-left">{{feed.contentSnippet}}</p>                    
                        <span class="small">{{feed.publishedDate}}</span>
                      </li>                
                    </ul>            
                  </div>
                </div>
              </div>
              -->
      </div>
      <div class="intro-window-close">
        <button class="intro-window-close-button">
          <span class="glyphicon glyphicon-chevron-up intro-window-close-glyph"> </span>
          <span class="default-font huge intro-window-close-sign">&nbsp;Access Tools</span>
        </button>
      </div>
    </div>
  </div>
    
  <!-- profile block -->
  
  <div class="profile-panel closed" ng-controller="LoginController">    
    <div class="tab-pane profile-tab-pane active" id="auth">
      <div class="tool">
        <div class="tool-title"><b>Login</b></div>
        <div class="divider"></div>
        <div class="tool-content">
          <form name="loginForm" ng-submit="loginGeo()"
                ng-hide='isAuthenticated()'>
            <fieldset>
              <table class="login-table">
                <tr>
                  <td>
                    <label class="control-label" for="username">Login:</label>
                  </td>
                  <td>
                    <input type="text" ng-model="username" id="username" class="form-control" name="username" required/>
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="control-label" for="password">Password:</label>
                  </td>
                  <td>
                    <input type="password" ng-model="password" id="password" class="form-control" name="password" required/>
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                  </td>
                </tr>
              </table>
              <span class="form-error"></span>
            </fieldset>
            <div class="auth-btn-container">
              <button type="submit" class="btn auth-btn">Log In</button>
            </div>
          </form>
          <form name='logoutForm' 
                ng-submit='logoutGeo()' 
                ng-show='isAuthenticated()'>
            Hello, {{username}}
            <div class="auth-btn-container">
              <button type="submit" class="btn auth-btn">Log Out</button>
            </div>
          </form>
        </div>
      </div>
      
      <!--
      <div class="tool">
        <div class="tool-title"><b>Sign Up</b></div>
        <div class="divider"></div>
        <div class="tool-content">
          <form class="auth-form" action="/signup/" method="POST" enctype="multipart/form-data"> 
            <fieldset>
              <table class="signup-table">
                <tr>
                  <td>
                    <label class="control-label" for="username">User Name: <span class="required">*</span></label>
                  </td>
                  <td>
                    <input class="form-control" id="id_username" maxlength="30" name="username" placeholder="Username" type="text" />
                    <span class="form-error"></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="control-label" for="email">Email <span class="required">*</span></label>
                  </td>
                  <td>
                    <input class="form-control" id="id_name" maxlength="30" name="name" placeholder="Joe Schmo" type="text" />
                    <span class="form-error"></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="control-label" for="name">Name: <span class="required">*</span></label>
                  </td>
                  <td>
                    <input class="form-control" id="id_name" maxlength="30" name="name" placeholder="Joe Schmo" type="text" />
                    <span class="form-error"></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="control-label" for="password">Password: <span class="required">*</span></label>
                  </td>
                  <td>
                    <input class="form-control" id="id_password" name="password" placeholder="Password" type="password" />
                    <span class="form-error"></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="control-label" for="password_conf">Confirm Password:<span class="required">*</span></label>
                  </td>
                  <td>
                    <input class="form-control" id="id_password_conf" name="password_conf" placeholder="Password (repeat)" type="password" />
                    <span class="form-error"></span>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <span class="required">*</span> required fields
                  </td>
                </tr>
              </table>
            </fieldset>
            <div class="auth-btn-container">
              <button type="submit" class="btn auth-btn">SIGN UP</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  -->
    </div>
  </div>
  <!-- tools block -->
  
  <div class="tools-panel blur open" ng-controller="UserProjectController">
    <ul type="none" class="tool-tabs">
      <li class="active">
        <button class="tab-button tool-tab-button" value="maptools">
          Map Tools
        </button>
      </li>
      <li>
        <button class="tab-button tool-tab-button" value="momentMagCalc">
          Magnitude
        </button>        
      </li>
      <li>
        <button class="tab-button tool-tab-button" value="disloc">
          Disloc
        </button>
      </li>
      <li>
        <button class="tab-button tool-tab-button" value="simplex"> 
          Simplex
        </button>
      </li>
      <li>
        <button class="tab-button tool-tab-button" value="kmlmapper">
          KML Mapper
        </button>
      </li>
      <li>
        <button class="tab-button tool-tab-button" value="myprojects" ng-show='authenticated'>
          My Projects
        </button>
      </li>
      <li>
        <button class="tab-button tool-tab-button" value="Forecast">
          Forecast
        </button>
      </li>
    </ul>

    <div class="tab-pane tool-tab-pane inactive" id="momentMagCalc">
      <div class="tool">
        <div class="tool-title"><b>Moment Magnitude Calculator</b></div>
        <div class="divider"></div>
        <div class="tool-content">
          <div>
<!--
            <input class="tools-checkbox" type="checkbox" name="active-tools" value="moment_magnitude_calc"/><span class="default-font">&nbsp;Moment Magnitude Calculator</span>
-->
            <div class="tools-box active" id="moment-magnitude-calc">
              <table>
                <tr>
                  <td>
                    <span class="default-font">Length:&nbsp;</span>
                  </td>
                  <td>
                    <input class="moment-magnitude-calc-input" type="text" name="active-tools" id="length" value="249"/></td>
                  <td>
                    <span class="default-font">&nbsp;km</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="default-font">Width:&nbsp;</span>
                  </td>
                  <td>
                    <input class="moment-magnitude-calc-input" type="text" name="active-tools" id="width" value="120.0"/>
                  </td>
                  <td>
                    <span class="default-font">&nbsp;km</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="default-font">Slip:&nbsp;</span>
                  </td>
                  <td>
                    <input class="moment-magnitude-calc-input" type="text" name="active-tools" id="slip" value="23"/>
                  </td>
                  <td>
                    <span class="default-font">&nbsp;m</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="default-font">Shear Modulus:&nbsp;</span>
                  </td>
                  <td>
                    <input class="moment-magnitude-calc-input" type="text" name="active-tools" id="shear-modulus" value="3"/>
                  </td>
                  <td>
                    <span class="default-font">&nbsp;10^11 dyne/cm^2</span>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <button class="moment-magnitude-calc-btn">
                      <span class="default-font">Calculate</span>
                    </button>
                  </td>
                  <td></td>
                </tr>
              </table>
              <table>
                <tr>
                  <td>
                    <span class="default-font">Seismic Moment:&nbsp;</span>
                  </td>
                  <td class="moment-magnitude-calc-result" id="seismic">
                    
                  </td>
                </tr>
                <tr>
                  <td>
                    <b><span class="default-font">Moment Magnitude:&nbsp;</span></b>
                  </td>
                  <td class="moment-magnitude-calc-result" id="moment">
                    
                  </td>
                </tr>
              </table>
              <span class="small-note">Default values are approximate for 2011 M 9.0 Tohoku-Oki earthquake</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane tool-tab-pane active" id="maptools">
      <div class="tool">
        <div class="tool-title"><b>Map Tools</b></div>
        <div class="divider"></div>
        <div class="tool-content">

          <div>
            <input class="tools-checkbox" type="checkbox" name="KMLMapper-active-tools" value="kml-layer"/>
            <span class="default-font">KML Mapper</span>  
            <div id="KmlMapperDiv" style="display:none">
              Upload a KML (&lt; 200 KB) from your local file system.
              <div ng-controller="UploadController">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="file" file-model="myFile">
                  </div>
                  <div class="col-md-12 form-group">
                    <button class="btn btn-sm btn-primary" ng-click="uploadFileForKml()">Upload File</button>
                  </div> 
                </div>
                <div ng-hide='uploadedKmlFiles == null'>
                  <p>
                    <table id="userKmlTable" class="table table-bordered table-responsive">
                      <caption>Click the checkbox to turn the display on/off</caption>
                      <thead>
                        <th>KML File</th>
                        <th>Display</th>
                      </thead>
                      <tbody>
                        <tr ng-repeat="uploadKmlFile in uploadedKmlFiles">
                          <td>{{uploadKmlFile.name}}</td>
                          <td><input type="checkbox" id="{{uploadKmlFile.url}}" onclick="toggleKmlDisplay(this)">
                        </tr>
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>

          <p/>
          <div>
            <input class="tools-checkbox" type="checkbox" name="active-tools" value="fault-layer"/>
            <span class="default-font">UCERF3 Faults</span>
          </div>
          <p/>
          <div>
            <input class="tools-checkbox" type="checkbox" id="UAVSAR-active-tool" name="active-tools" value="uavsar"/>
            <span class="default-font">UAVSAR</span>
            <div id="uavsar-instructions" style="display:none">
              Use drawing tool on the map to select the region of interests.  
              <br/>You can also search by flight name or flight path:
              <input type="text" name="searchString" id="search-string-value" size="20" value="" onchange="showSearchResults('dynatable')">
            </div>
            <p/>
            <button class="panel-close-button inactive">X</button>
            <div id="FadeDisplay" style="display:none">
              <b>Fade/Reset Display: </b>
              <input type="button" value="Fade" class="faderButton"/>
              <input type="button" value="Reset" class="resetButton"/>
            </div>
            <div id="UAVSAR-geometry"></div>            
            <div id="UAVSAR-heading"></div>
            <div id="UAVSAR-markers"></div>
				<div id="QuakeTables-Link"></div>
            <div id="UAVSAR-formFields" style="display:none">
				  <table>
					 <tr>
						<td>
						  <b>Start Lat:</b>
						  <input type="text" name="startLat" id="startLat-value" size="8" value="" onchange="updateStartLat()"/>
						  <b>Start Lon:</b>
						  <input type="text" name="startLon" id="startLon-value" size="8" value="" onchange="updateStartLon()"/>
						</td>
					 </tr>
					 <tr>
						<td>
						  <b>End Lat:</b>
						  <input type="text" name="endLat" id="endLat-value" size="8" value="" onchange="updateEndLat()"/>
						  <b>End Lon:</b>
						  <input type="text" name="endLon" id="endLon-value" size="8" value="" onchange="updateEndLon()"/>
						</td>
					 </tr>
					 <tr>
						<td>
						  <b>Azimuth:</b>
						  <input type="text" name="azimuth-value" id="azimuth-value" size="8" value="" onchange="updateAzimuth()"/>
						</td>
						<td align="right">
						  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						  <img id="azimuthInfoImg" src="http://quakesim-iu.appspot.com/InSAR-LOS/images/question_mark.png" width="15" height="15"/>
						</td>
					 </tr>
					 <tr>
						<td>
						  <b>Distance:</b>
						  <input type="text" name="losLength-value" id="losLength-value" size="8" value="" onchange="updateDistance()"/>
						</td>
						<td align="right">
						  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						  <img id="distanceInfoImg" src="http://quakesim-iu.appspot.com/InSAR-LOS/images/question_mark.png" width="15" height="15"/>
						</td>
					 </tr>
					 <tr>
						<td>
						  <b>Sampling Distance (meters):</b>
						  <input type="text" name="resolution" id="resolution-value" size="5" value="200" onchange="updateResolution()"/>
						</td>
						<td align="right">
						  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						  <img id="samplingInfoImg" src="http://quakesim-iu.appspot.com/InSAR-LOS/images/question_mark.png" width="15" height="15"/>
						</td>
					 </tr>
					 <tr>
						<td>
						  <input type="hidden" name="plotmethod" value="native"> <!-- Remove this later-->
						</td>
						<!--
							 <td>
							   <b>Plot Method:</b>
							   <input type="radio" name="plotmethod" id="native-method" value="native" checked="true" onclick="sarselect.plotNative()"/>native
							   <input type="radio" name="plotmethod" id="average-method" value="average" onclick="sarselect.plotAverage()"/>average
                        
						    </td>
						<td align="right">
						  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						  <img id="plotMethodImg" src="images/question_mark.png" width="15" height="15"/>
						</td>
						-->
					 </tr>
					 
					 <tr>
						<td>
						  <input type="hidden" id="averaging-value" name="averaging" value="10"> <!-- Remove this when averaging works-->
						</td>
						<!--
							 <td>
							   <b>Averaging Radius:</b> 
							   <input type="text" name="averaging" id="averaging-value" size="5" value="10" onchange="sarselect.updateAveraging()" disabled="false"/>
						    </td>
						<td align="right">
						  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						  <img id="averagingInfoImg" src="http://quakesim-iu.appspot.com/InSAR-LOS/images/question_mark.png"  width="15" height="15"/>
						</td>
						-->
					 </tr>
                <tr>
                  <td>
                    <div id="LOS-Data-Download"/>
                  </td>
                </tr>
				  </table>              
            </div>
              <div id="uavsar" class="inactive">
                <div class="tool-content" id="data-panel">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- KML Mapper -->
    <div class="tab-pane tool-tab-pane inactive" id="kmlmapper">
      <div class="tool">
        <div class="tool-title"><b>KML Mapper</b></div>
        <div class="divider"></div>
        <div class="tool-content">
          Upload a KML (< 200 KB) from your local file system.
          <div ng-controller="UploadController">
            <div class="row">
              <div class="col-md-12 form-group">
                <input type="file" file-model="myFile">
              </div>
              <div class="col-md-12 form-group">
                <button class="btn btn-sm btn-primary" ng-click="uploadFileForKml()">Upload File</button>
              </div> 
            </div>
            <div ng-hide='uploadedKmlFiles == null'>
              <p>
                <!--
                    KML URL:
                    <br>
                    <input type="text" size="50" id="kmlMapperUrl"/>
                    <button type="button" onclick="addKmlLayer()">Plot</button> 
                    -->
                <table id="userKmlTable" class="table table-bordered table-responsive">
                  <caption>Click the checkbox to turn the display on/off</caption>
                  <thead>
                    <th>KML File</th>
                    <th>Display</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="uploadKmlFile in uploadedKmlFiles">
                      <td>{{uploadKmlFile.name}}</td>
                      <td><input type="checkbox" id="{{uploadKmlFile.url}}" onclick="toggleKmlDisplay(this)">
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Simplex Tool -->
    <div class="tab-pane tool-tab-pane inactive" id="simplex">
      <div class="tool">
        <div class="tool-title"><b>Simplex</b></div>
        <div class="divider"></div>
        <div class="tool-content">
          <h4>Upload your Simplex input file</h4>
          <div ng-controller="UploadController">
            <div class="row">
              <div class="col-md-12 form-group">
                <input type="file" file-model="myFile">
              </div>
              <div class="col-md-12 form-group">
                <button class="btn btn-sm btn-primary" ng-click="uploadFile()">Upload File</button>
              </div>
            </div>
          </div>
          <div ng-controller="EditProjectController">
            <div class="panel panel-default" ng-show='status == "Ready" || status == "Submitted"'>
              <div class="panel-body">
                <h4>Your project's components</h4>
                <table class="table table-striped table-bordered table-condensed table-responsive">
                  <tbody>
                    <tr>
                      <td>Project Name</td>
                      <td>{{myproject.projectName}}</td>
                    </tr>
                    <tr>
                      <td>Permission</td>
                      <td>{{myproject.permission}}</td>
                    </tr>
                    <tr>
                      <td>Project ID</td>
                      <td>{{myproject._id}}</td>
                    </tr>
                    <tr>
                      <td>Creation Time</td>
                      <td>{{myproject.creationTime}}</td>
                    </tr>
                    <tr>
                      <td>Update Time</td>
                      <td>{{myproject.updateTime}}</td>
                    </tr>
                    <tr>
                      <td>Input File</td>
                      <td><a href="userUploads/{{username}}/{{myproject.projectName}}-{{myproject._id}}/{{myproject.projectInputFileName}}" target="_blank" type="text/plain">{{myproject.projectInputFileName}}</a></td>
                    </tr>
                    <tr>
                      <td>Output File</td>
                      <td><a href="userUploads/{{username}}/{{myproject.projectName}}-{{myproject._id}}/{{myproject.projectOutputFileName}}" target="_blank" type="text/plain">{{myproject.projectOutputFileName}}</a></td>
                    </tr>
                    <tr>
                      <td>Log File</td>
                      <td><a href="userUploads/{{username}}/{{myproject.projectName}}-{{myproject._id}}/{{myproject.projectLogFileName}}" target="_blank" type="text/plain">{{myproject.projectLogFileName}}</a></td>
                    </tr>
                    <tr>
                      <td>Fault File</td>
                      <td><a href="userUploads/{{username}}/{{myproject.projectName}}-{{myproject._id}}/{{myproject.projectFaultFileName}}" target="_blank" type="text/plain">{{myproject.projectFaultFileName}}</a></td>
                    </tr>
                    <tr>
                      <td>Stdout</td>
                      <td><a href="userUploads/{{username}}/{{myproject.projectName}}-{{myproject._id}}/{{myproject.projectStandardOut}}" target="_blank" type="text/plain">{{myproject.projectStandardOut}}</td>
                    </tr>
                    <tr>
                      <td>Stderr</td>
                      <td><a href="userUploads/{{username}}/{{myproject.projectName}}-{{myproject._id}}/{{myproject.projectStandardError}}" target="_blank" type="text/plain">{{myproject.projectStandardError}}</a></td>
                    </tr>
                    <tr>
                      <td>Status</td>
                      <td>{{myproject.status}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
            <div class="panel panel-default" ng-show='myproject.status == "Ready"'>
              <div class="panel-body">
                <h4>Click the button to submit.</h4>
                <form role="form" ng-submit="submitNonblocking('simplex')">
                  <div class="form-group">
                    <input class="btn btn-sm btn-primary" type="submit" id="submitSimplex" value="Submit"/>
                  </div>
                </form>
              </div>
            </div>
            <div class="panel panel-default" ng-show='myproject.status == "Submitted"'>
              <div class="panel-body">
                <h4>Click the button to refresh.</h4>
                <form role="form" ng-submit="refreshView()">
                  <div class="form-group">
                    <input class="btn btn-sm btn-primary" type="submit" id="refreshSimplex" value="Refresh"/>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Disloc Tool -->
    <div class="tab-pane tool-tab-pane inactive" id="disloc" ng-controller="EditProjectController">
      <div class="tool">
        <div class="tool-title"><b>Disloc</b></div>
        User name: {{username}}. 
        <div class="divider"></div>
        <div class="tool-content">
          Upload your Disloc input file
          <div ng-controller="UploadController">
            <div class="row">
              <div class="col-md-12 form-group">
                <input type="file" file-model="myFile">
              </div>
              <div class="col-md-12 form-group">
                <button class="btn btn-sm btn-primary" ng-click="uploadFile()">Upload File</button>
              </div>
            </div>
          </div>
          <div> <!--<div ng-controller="EditProjectController">-->
            <div class="panel panel-default" ng-show='status == "Ready" || status == "Submitted"'>
              <div class="panel-body">
                <h4>Your project's components</h4>
                <div ng-show="myproject.status=='Completed'">
                  <input type="checkbox"  ng-click="publishProject(myproject._id)" ng-checked="myproject.permission=='Published'" ng-model="publishCheckboxModel"> Publish Project
                </div>
                <table class="table table-striped table-bordered table-condensed table-responsive">
                  <tbody>
                    <tr>
                      <td>Project Name</td>
                      <td>{{myproject.projectName}}</td>
                    </tr>
                    <tr>
                      <td>Permission</td>
                      <td>{{myproject.permission}}</td>
                    </tr>
                    <tr>
                      <td>Project ID</td>
                      <td>{{myproject._id}}</td>
                    </tr>
                    <tr>
                      <td>Creation Time</td>
                      <td>{{myproject.creationTime}}</td>
                    </tr>
                    <tr>
                      <td>Update Time</td>
                      <td>{{myproject.updateTime}}</td>
                    </tr>
                    <tr>
                      <td>Input File</td>
                      <td><a href="{{myproject.projectInputFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectInputFileName}}</a></td>
                    </tr>
                    <tr ng-show="myproject.status == 'Ready'">
                      <td>Parameters</td>
                      <td><ul style="list-style-type:none;padding-left:0px">
                          <li>Elevation (Deg): <input type="text" size="5" id="disloc_elevation" name="disloc_elevation" value=60 /></li>
                          <li>Azimuth (Deg): <input type="text" size="5" id="disloc_azimuth" name="disloc_azimuth" value=0 /></li>
                          <li>Frequency (GHz): <input type="text" size="5" id="disloc_frequency" name="disloc_frequency" value=1.26 /></li>
                        </ul>
                      </td>
                    </tr>
                    <tr ng-show="myproject.status == 'Completed'">
                      <td>Output File</td>
                      <!--
                      <td><a href="userUploads/{{username}}/{{myproject.projectName}}-{{myproject._id}}/{{myproject.projectOutputFileName}}" target="_blank" type="text/plain" download>{{myproject.projectOutputFileName}}</a></td>
                      -->
                      <td><a href="{{myproject.projectOutputFileNameUrl}}" target="_blank" type="text/plain" download>{{myproject.projectOutputFileName}}</a></td>
                    </tr>
                    <tr ng-show="myproject.status == 'Completed'">
                      <td>Log File</td>
                      <!--
                      <td><a href="userUploads/{{username}}/{{myproject.projectName}}-{{myproject._id}}/{{myproject.projectLogFileName}}" target="_blank" type="text/plain">{{myproject.projectLogFileName}}</a></td>
                      -->
                      <td><a href="{{myproject.projectLogFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectLogFileName}}</a></td>
                    </tr>
                    <tr ng-show="myproject.status == 'Completed'">
                      <td>Stdout</td>
                      <!--
                      <td><a href="userUploads/{{username}}/{{myproject.projectName}}-{{myproject._id}}/{{myproject.projectStandardOut}}" target="_blank" type="text/plain">{{myproject.projectStandardOut}}</td>
                      -->
                      <td><a href="{{myproject.projectStandardOutUrl}}" target="_blank" type="text/plain">{{myproject.projectStandardOut}}</td>
                    </tr>
                    <tr ng-show="myproject.status == 'Completed'">
                      <td>Stderr</td>
                      <!--
                      <td><a href="userUploads/{{username}}/{{myproject.projectName}}-{{myproject._id}}/{{myproject.projectStandardError}}" target="_blank" type="text/plain">{{myproject.projectStandardError}}</a></td>
                      -->
                      <td><a href="{{myproject.projectStandardErrorUrl}}" target="_blank" type="text/plain">{{myproject.projectStandardError}}</a></td>
                    </tr>
                    <tr ng-show="myproject.status == 'Completed'">
                      <td>Output KML</td>
                      <!--
                      <td><input checked type="checkbox" id="displaydisloc_outputkml" value="disloc_outputkml" onclick="check_dislockml(this)" style="display:none"><a id="disloc_outputkml" href="userUploads/{{username}}/{{myproject.projectName}}-{{myproject._id}}/{{myproject.projectOutputKMLFileName}}" target="_blank" type="text/plain">{{myproject.projectOutputKMLFileName}}</a></td>
                      -->
                      <td><input checked type="checkbox" id="displaydisloc_outputkml" value="disloc_outputkml" onclick="check_dislockml(this)" style="display:none"><a id="disloc_outputkml" href="{{myproject.projectOutputKMLFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectOutputKMLFileName}}</a></td>
                    </tr>
                    <tr ng-show="myproject.status == 'Completed'">
                      <td>SARImage KML</td>
                      <!--
                      <td><input checked type="checkbox" id="displaydisloc_sarimagekml" value="disloc_sarimagekml" onclick="check_dislockml(this)" style="display:none"><a id="disloc_sarimagekml" href="userUploads/{{username}}/{{myproject.projectName}}-{{myproject._id}}/{{myproject.projectOutputSARImageKMLFileName}}" target="_blank" type="text/plain">{{myproject.projectOutputSARImageKMLFileName}}</a></td>
-->
                      <td><input checked type="checkbox" id="displaydisloc_sarimagekml" value="disloc_sarimagekml" onclick="check_dislockml(this)" style="display:none"><a id="disloc_sarimagekml" href="{{myproject.projectOutputSARImageKMLFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectOutputSARImageKMLFileName}}</a></td>                    
                    </tr>
                    <tr ng-show="myproject.status == 'Completed'">
                      <td>Tiltmap Output</td>
                      <!--
                      <td><a href="userUploads/{{username}}/{{myproject.projectName}}-{{myproject._id}}/{{myproject.projectOutputTiltCSVFileName}}" target="_blank" type="text/plain" download>{{myproject.projectOutputTiltCSVFileName}}</a></td>
                      -->
                      <td><a href="{{myproject.projectOutputTiltCSVFileNameUrl}}" target="_blank" type="text/plain" download>{{myproject.projectOutputTiltCSVFileName}}</a></td>
                    </tr>
                    <tr ng-show="myproject.status == 'Completed'">
                      <td>Strain Magnitude KML</td>
                      <!--
                      <td><input checked type="checkbox" id="displaydisloc_strainmagkml" value="disloc_strainmagkml" onclick="check_dislockml(this)" style="display:none"><a id="disloc_strainmagkml" href="userUploads/{{username}}/{{myproject.projectName}}-{{myproject._id}}/{{myproject.projectOutputStrainMagFileName}}" target="_blank" type="text/plain">{{myproject.projectOutputStrainMagFileName}}</a></td>
                      -->
                      <td><input checked type="checkbox" id="displaydisloc_strainmagkml" value="disloc_strainmagkml" onclick="check_dislockml(this)" style="display:none"><a id="disloc_strainmagkml" href="{{myproject.projectOutputStrainMagFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectOutputStrainMagFileName}}</a></td>
                    </tr>
                    <tr ng-show="myproject.status == 'Completed'">
                      <td>Download All</td>
                      <!--
                      <td><a href="userUploads/{{username}}/{{myproject.projectName}}-{{myproject._id}}/{{myproject.projectZipFileName}}" target="_blank" type="text/plain" download>{{myproject.projectZipFileName}}</a></td>
                      -->
                      <td><a href="{{myproject.projectZipFileNameUrl}}" target="_blank" type="text/plain" download>{{myproject.projectZipFileName}}</a></td>
                    </tr>
                    <tr>
                      <td>Status</td>
                      <td>{{myproject.status}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
            <div class="panel panel-default" ng-show='myproject.status == "Ready"'>
              <div class="panel-body">
                <h4>Click the button to submit.</h4>
                <form role="form" ng-submit="submitdisloc('disloc')">
                  <div class="form-group">
                    <input class="btn btn-sm btn-primary" type="submit" id="submitDisloc" value="Submit"/>
                  </div>
                </form>
              </div>
            </div>
            <div class="panel panel-default" ng-show='myproject.status == "Submitted"'>
              <div class="panel-body">
                <h4>Click the button to refresh.</h4>
                <form role="form" ng-submit="refreshView()">
                  <div class="form-group">
                    <input class="btn btn-sm btn-primary" type="submit" id="refreshDisloc" value="Refresh"/>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="tab-pane tool-tab-pane inactive" id="myprojects" ng-controller="EditProjectController">
      <div class="tool">
        <div class="tool-title"><b>My Projects</b></div>
        <div class="divider"></div>
        <div class="tool-content">
          <div id="theBigList" ng-show='viewList==true'>
            <table class="table table-striped table-bordered table-condensed table-responsive"> 
              <thead>
                <tr>
                  <th>Project ID</th>
                  <th>Creation Time</th>
                  <th>Project Type</th>
                  <th>View</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="project in projects | filter:query|orderBy:orderProp">
                  <td style="word-wrap:break-word;">{{project._id}}</td>
                  <td style="word-wrap:break-word;">{{project.creationTime}}</td>
                  <td style="word-wrap:break-word;">{{project.appName}}</td>
                  <td>
                      <button class="btn btn-info" ng-click="viewProject(project._id)">View</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="viewSelectedProject" ng-show='viewList==false'>
            <div class="panel-body">
              <button class="btn btn-success" ng-click="viewCompleteList()">View List </button>             
              <h4>Your project's components</h4>
                <div ng-show="myproject.status=='Completed'">
                <input type="checkbox" ng-click="publishProject(myproject._id)" ng-checked="myproject.permission=='Published'" ng-model="publishCheckboxModel"> Publish Project  
                </div>
              <table class="table table-striped table-bordered table-condensed table-responsive">
                <tbody>
                  <tr>
                    <td>Project Name</td>
                    <td>{{myproject.projectName}}</td>
                  </tr>
                    <tr>
                      <td>Permission</td>
                      <td>{{myproject.permission}}</td>
                    </tr>
                  <tr>
                    <td>Project ID</td>
                    <td>{{myproject._id}}</td>
                  </tr>
                  <tr>
                    <td>Creation Time</td>
                    <td>{{myproject.creationTime}}</td>
                  </tr>
                  <tr>
                    <td>Update Time</td>
                    <td>{{myproject.updateTime}}</td>
                  </tr>
                  <tr>
                    <td>Input File</td>
                      <td><a href="{{myproject.projectInputFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectInputFileName}}</a></td>
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>Parameters</td>
                    <td>
                      <ul style="list-style-type:none;padding-left:0px">
                        <li>Elevation (Deg): <input type="text" size="5" id="disloc_elevation" name="disloc_elevation" value=60 /></li>
                        <li>Azimuth (Deg): <input type="text" size="5" id="disloc_azimuth" name="disloc_azimuth" value=0 /></li>
                        <li>Frequency (GHz): <input type="text" size="5" id="disloc_frequency" name="disloc_frequency" value=1.26 /></li>
                      </ul>
                    </td>
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>Output File</td>
                      <td><a href="{{myproject.projectOutputFileNameUrl}}" target="_blank" type="text/plain" download>{{myproject.projectOutputFileName}}</a></td>
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>Log File</td>
                      <td><a href="{{myproject.projectLogFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectLogFileName}}</a></td>
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>Stdout</td>
                      <td><a href="{{myproject.projectStandardOutUrl}}" target="_blank" type="text/plain">{{myproject.projectStandardOut}}</td>
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>Stderr</td>
                      <td><a href="{{myproject.projectStandardErrorUrl}}" target="_blank" type="text/plain">{{myproject.projectStandardError}}</a></td>
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>Output KML</td>
                      <td><input checked type="checkbox" id="displaydisloc_outputkml" value="disloc_outputkml" onclick="check_dislockml(this)" style="display:none"><a id="disloc_outputkml" href="{{myproject.projectOutputKMLFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectOutputKMLFileName}}</a></td>
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>SARImage KML</td>
                      <td><input checked type="checkbox" id="displaydisloc_sarimagekml" value="disloc_sarimagekml" onclick="check_dislockml(this)" style="display:none"><a id="disloc_sarimagekml" href="{{myproject.projectOutputSARImageKMLFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectOutputSARImageKMLFileName}}</a></td>                    
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>Tiltmap Output</td>
                      <td><a href="{{myproject.projectOutputTiltCSVFileNameUrl}}" target="_blank" type="text/plain" download>{{myproject.projectOutputTiltCSVFileName}}</a></td>
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>Strain Magnitude KML</td>
                      <td><input checked type="checkbox" id="displaydisloc_strainmagkml" value="disloc_strainmagkml" onclick="check_dislockml(this)" style="display:none"><a id="disloc_strainmagkml" href="{{myproject.projectOutputStrainMagFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectOutputStrainMagFileName}}</a></td>
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>Download All</td>
                      <td><a href="{{myproject.projectZipFileNameUrl}}" target="_blank" type="text/plain" download>{{myproject.projectZipFileName}}</a></td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td>{{myproject.status}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane tool-tab-pane inactive" id="about">
      <div class="tool">
        <div class="tool-title"><b>Help</b></div>
        <div class="divider"></div>
        <div class="tool-content">
          <table class="about-table">
            <tr>
              <td>
                <button class="btn btn-link" id="jiraBugTrigger">
                  <span class="default-font large">Report a Bug</span>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    
    <div class="tab-pane tool-tab-pane inactive" id="Forecast">
      <div class="tool">
        <div class="tool-title">Global Natural Hazard Viewer <br/> </div>
        <div class="divider"></div>
        <div class="tool-content">
          <div id="panel_forecast" style="margin-top: 10px; margin-bottom:10px;">
            <h5>Global Forecast Heat Map: M &gt; 6.5, 1 Year.   &nbsp; &nbsp; California Forecast Heat Map: M &gt; 5, 1 Year (Open Hazards Group)</h5>
            Earthquake magnitude shown by circle size. Hotter colors are more recent events. Click on earthquake markers for event data. (USGS).<p/>
            <label for="Global Forecast">Global Forecast</label>
            <input id="Global Forecast" type="checkbox" value="false" onclick="calcwo()"><br/>
            <label for="California Forecast">California Forecast</label>
            <input id="California Forecast" type="checkbox" value="false" onclick="calcca()"><br/>
          </div>
          <div id="panel_quakes" style="margin-top: 10px; margin-bottom:10px;">
            <h5>Recent Earthquakes from USGS</h5>
            <label for="EQDay">M &gt; 1.0, Last Day</label>
            <input id="EQDay" value = false type="checkbox" onclick="eqDay();"/><br/>
            <label for="EQWeek">M &gt; 2.5, Last Week</label>
            <input id="EQWeek" value = false type="checkbox" onclick="eqWeek();"/><br/>
            <label for="EQMonth">M &gt; 4.5, Last Month</label>
            <input id="EQMonth" value = false type="checkbox" onclick="eqMonth();"/><br/>
            <label for="EQToggle">Show or Hide Earthquakes</label>
            <input id="EQToggle" value = false type="checkbox" onclick="eqToggle();"/><br/>
            <label for="Faults">Show California Faults:</label> 
            <input id="Faults" value = false type="checkbox" onclick="showFaults();"/><br/>
            <h5>Filter Earthquakes</h5>
            <label for="M5">M &gt; 5</label>
            <input id="M5" value = false type="checkbox" onclick="filterM5()"/><br/>
            <label for="M65">M &gt; 6.5</label>
            <input id="M65" value = false type="checkbox" onclick="filterM65()"/><br/>
            <label for="Depth30">Depth &le; 30 km</label>
            <input id="Depth30" value = false type="checkbox" onclick="filterDepth30()"/><br/>            
          </div>
          <div>
            <h5>Other Hazards</h5>
            <label for"GDACS">Show GDACS Data:</label>
            <input id="GDACS" type="checkbox" onclick="showGDACS()"><br/>
            <label>Get a Space-Time Earthquake Forecast from the <a href="http://www.openhazards.com/viewer">Open Hazards Site</a></label>            
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="extra-tools-panel inactive">
    <div class="extra-tool">
      <!-- get rid of title
           <div class="extra-tool-title">PLOT</div>
           <div class="divider"></div>
           -->
      <div class="extra-tool-content" id="dygraph-LOS"></div>
      <div class="extra-tool-content" id="dygraph-HGT"></div>
    </div>
  </div>
  
  
  <!-- Initialize the  map -->
  <script>
    initialize();
  </script>

  <!-- ========================= QTip Mouseovers =========================-->
  <script>
	 //--------------------------------------------------
	 // These are qtip setups.
	 //--------------------------------------------------

	 $('#samplingInfoImg').qtip({
	 content: 'The distance between points.  A value of 1000 means 1 point is plotted for every 1000 meters. <p><b>NOTE:</b> most of the source images have a resolution of 1 pixel:6 meters, so sampling below resolution will return interpolated values.',
	 show: 'mouseover',
	 hide: 'mouseout'
	 });

	 $('#plotMethodImg').qtip({
	 content: 'Native method returns actual pixel values at the sampled points.  Averaging retuns the average pixel value for sampled points.',
	 show: 'mouseover',
	 hide: 'mouseout'
	 });

	 $('#averagingInfoImg').qtip({
	 content: 'Sets the number of points used if averaging.',
	 show: 'mouseover',
	 hide: 'mouseout'
	 });

	 $('#distanceInfoImg').qtip({
	 content: 'Sets the distance for the line of sight.',
	 show: 'mouseover',
	 hide: 'mouseout'
	 });

	$('#azimuthInfoImg').qtip({
		content: 'Sets the azimuth (bearing) angle, measured from due North, of the line of sight.',
		show: 'mouseover',
		hide: 'mouseout'
		});
  </script>


  <!-- ========================= Issue Collectors =========================-->
  <!-- Jira Issue Collector: Subtle-->
<!--
  <script type="text/javascript" src="https://gateways.atlassian.net/s/16440f2c700db98bbac93b48f79772eb-T/en_US-6pg8zz/64014/46/1.4.24/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=e035a70e"></script>  
-->
  <!-- Jira Issue Collector: Vertical  -->
  <script type="text/javascript" src="https://gateways.atlassian.net/s/72c1e030cd7054035379885106084621-T/en_US-c1z37q/64014/46/1.4.24/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=236aa116"></script>

  <!-- Custom Jira Issue Collector: Improvements-->
<!--
  <script type="text/javascript" src="https://gateways.atlassian.net/s/72c1e030cd7054035379885106084621-T/en_US-c1z37q/64014/46/1.4.24/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=bef5ec04"></script>
    
  <script type="text/javascript">window.ATL_JQ_PAGE_PROPS =  {
	 "triggerFunction": function(showCollectorDialog) {
	 //Requires that jQuery is available! 
	 jQuery("#jiraImprovementTrigger").click(function(e) {
	 e.preventDefault();
	 showCollectorDialog();
	 });
	 }};
  </script>
-->

  <!-- Custom Jira Issue Collector: Bugs-->
<!--
    <script type="text/javascript" src="https://gateways.atlassian.net/s/72c1e030cd7054035379885106084621-T/en_US-c1z37q/64014/46/1.4.24/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=a51b3555"></script>
    <script type="text/javascript">window.ATL_JQ_PAGE_PROPS =  {
	   "triggerFunction": function(showCollectorDialog) {
		//Requires that jQuery is available! 
		jQuery("#jiraBugTrigger").click(function(e) {
		e.preventDefault();
		showCollectorDialog();
		});
	   }};
    </script>
-->
</body>
</html> 
