<script>
  $(document).ready(function() {
  $(".tools-checkbox").click(function() {
  var checked = this.checked;
  var type = $(this).val();
  console.log("Tools checkbox clicked:",type);
  switch(type) {
  // UAVSAR
  case 'uavsar':
  if(checked) {
  draw_UAVSAR();
  $('#uavsar-instructions').show();
  }
  else {
  closeDataPanel();
  wmsgf9_select={};
                //clear_UAVSAR();
                //                    if(typeof wmsgf9_select != 'undefined') {
                //                        wmsgf9_select.setMap(null);
                //                    }
                $('#UAVSAR-geometry').empty();
            }
            break;
            // MOMENT MAGNITUDE CALCULATOR
        case 'moment_magnitude_calc':
            if (checked) {
                show_MMCalc();
            }
            else {
                hide_MMCalc();
            }
            break;
            // FAULT LAYER
        case 'fault-layer':
            if(checked) {
                draw_FAULT_LAYER();
            }
            else {
                clear_FAULT_LAYER();
            }
            break;
        case 'kml-layer':
            if(checked) {
                $('#KmlMapperDiv').show();
            }
            else {
                $('#KmlMapperDiv').empty();
            }
            break;
        }
    });
});
</script>

<div class="tool">
  <div class="tool-title"><b>Map Tools</b></div>
  <div class="divider"></div>
  <div class="tool-content">
    
    <div>
      <input class="tools-checkbox" type="checkbox" name="KMLMapper-active-tools" value="kml-layer"/>
      <span class="default-font">KML Mapper</span>  
      <div id="KmlMapperDiv" style="display:none">
        Upload a KML (&lt; 200 KB) from your local file system.
        <div ng-controller="UploadController">
          <div class="row">
            <div class="col-md-12 form-group">
              <input type="file" file-model="myFile">
            </div>
            <div class="col-md-12 form-group">
              <button class="btn btn-sm btn-primary" ng-click="uploadFileForKml()">Upload File</button>
            </div> 
          </div>
          <div ng-hide='uploadedKmlFiles == null'>
            <p>
              <table id="userKmlTable" class="table table-bordered table-responsive">
                <caption>Click the checkbox to turn the display on/off</caption>
                <thead>
                  <th>KML File</th>
                  <th>Display</th>
                </thead>
                <tbody>
                  <tr ng-repeat="uploadKmlFile in uploadedKmlFiles">
                    <td>{{uploadKmlFile.name}}</td>
                    <td><input type="checkbox" id="{{uploadKmlFile.url}}" onclick="toggleKmlDisplay(this)">
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    
    <p/>
    <div>
      <input class="tools-checkbox" type="checkbox" name="active-tools" value="fault-layer"/>
      <span class="default-font">UCERF3 Faults</span>
    </div>
    <p/>
    <div>
      <input class="tools-checkbox" type="checkbox" id="UAVSAR-active-tool" name="active-tools" value="uavsar"/>
      <span class="default-font">UAVSAR</span>
      <div id="uavsar-instructions" style="display:none">
        Use drawing tool on the map to select the region of interests.  
        <br/>You can also search by flight name or flight path:
        <input type="text" name="searchString" id="search-string-value" size="20" value="" onchange="showSearchResults('dynatable')">
      </div>
      <p/>
      <button class="panel-close-button inactive">X</button>
      <div id="FadeDisplay" style="display:none">
        <b>Fade/Reset Display: </b>
        <input type="button" value="Fade" class="faderButton"/>
        <input type="button" value="Reset" class="resetButton"/>
      </div>
      <div id="UAVSAR-geometry"></div>            
      <div id="UAVSAR-heading"></div>
      <div id="UAVSAR-markers"></div>
		<div id="QuakeTables-Link"></div>
      <div id="UAVSAR-formFields" style="display:none">
		  <table>
			 <tr>
				<td>
				  <b>Start Lat:</b>
				  <input type="text" name="startLat" id="startLat-value" size="8" value="" onchange="updateStartLat()"/>
				  <b>Start Lon:</b>
				  <input type="text" name="startLon" id="startLon-value" size="8" value="" onchange="updateStartLon()"/>
				</td>
			 </tr>
			 <tr>
				<td>
				  <b>End Lat:</b>
				  <input type="text" name="endLat" id="endLat-value" size="8" value="" onchange="updateEndLat()"/>
				  <b>End Lon:</b>
				  <input type="text" name="endLon" id="endLon-value" size="8" value="" onchange="updateEndLon()"/>
				</td>
			 </tr>
			 <tr>
				<td>
				  <b>Azimuth:</b>
				  <input type="text" name="azimuth-value" id="azimuth-value" size="8" value="" onchange="updateAzimuth()"/>
				</td>
				<td align="right">
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  <img id="azimuthInfoImg" src="http://quakesim-iu.appspot.com/InSAR-LOS/images/question_mark.png" width="15" height="15"/>
				</td>
			 </tr>
			 <tr>
				<td>
				  <b>Distance:</b>
				  <input type="text" name="losLength-value" id="losLength-value" size="8" value="" onchange="updateDistance()"/>
				</td>
				<td align="right">
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  <img id="distanceInfoImg" src="http://quakesim-iu.appspot.com/InSAR-LOS/images/question_mark.png" width="15" height="15"/>
				</td>
			 </tr>
			 <tr>
				<td>
				  <b>Sampling Distance (meters):</b>
				  <input type="text" name="resolution" id="resolution-value" size="5" value="200" onchange="updateResolution()"/>
				</td>
				<td align="right">
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  <img id="samplingInfoImg" src="http://quakesim-iu.appspot.com/InSAR-LOS/images/question_mark.png" width="15" height="15"/>
				</td>
			 </tr>
			 <tr>
				<td>
				  <input type="hidden" name="plotmethod" value="native"> <!-- Remove this later-->
				</td>
				<!--
					 <td>
						<b>Plot Method:</b>
						<input type="radio" name="plotmethod" id="native-method" value="native" checked="true" onclick="sarselect.plotNative()"/>native
						<input type="radio" name="plotmethod" id="average-method" value="average" onclick="sarselect.plotAverage()"/>average
                  
					 </td>
				<td align="right">
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  <img id="plotMethodImg" src="images/question_mark.png" width="15" height="15"/>
				</td>
				-->
			 </tr>
			 
			 <tr>
				<td>
				  <input type="hidden" id="averaging-value" name="averaging" value="10"> <!-- Remove this when averaging works-->
				</td>
				<!--
					 <td>
						<b>Averaging Radius:</b> 
						<input type="text" name="averaging" id="averaging-value" size="5" value="10" onchange="sarselect.updateAveraging()" disabled="false"/>
					 </td>
				<td align="right">
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  <img id="averagingInfoImg" src="http://quakesim-iu.appspot.com/InSAR-LOS/images/question_mark.png"  width="15" height="15"/>
				</td>
				-->
			 </tr>
          <tr>
            <td>
              <div id="LOS-Data-Download"/>
            </td>
          </tr>
		  </table>              
      </div>
      <div id="uavsar" class="inactive">
        <div class="tool-content" id="data-panel">
        </div>
      </div>
    </div>
  </div>
</div>
