
      <div class="tool">
        <div class="tool-title"><b>My Projects</b></div>
        <div class="divider"></div>
        <div class="tool-content">
          <div id="theBigList" ng-show='viewList==true'>
            <table class="table table-striped table-bordered table-condensed table-responsive"> 
              <thead>
                <tr>
                  <th>Project ID</th>
                  <th>Creation Time</th>
                  <th>Project Type</th>
                  <th>View</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="project in projects | filter:query|orderBy:orderProp">
                  <td style="word-wrap:break-word;">{{project._id}}</td>
                  <td style="word-wrap:break-word;">{{project.creationTime}}</td>
                  <td style="word-wrap:break-word;">{{project.appName}}</td>
                  <td>
                      <button class="btn btn-info" ng-click="viewProject(project._id)">View</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="viewSelectedProject" ng-show='viewList==false'>
            <div class="panel-body">
              <button class="btn btn-success" ng-click="viewCompleteList()">View List </button>             
              <h4>Your project's components</h4>
                <div ng-show="myproject.status=='Completed'">
                <input type="checkbox" ng-click="publishProject(myproject._id)" ng-checked="myproject.permission=='Published'" ng-model="publishCheckboxModel"> Publish Project  
                </div>
              <table class="table table-striped table-bordered table-condensed table-responsive">
                <tbody>
                  <tr>
                    <td>Project Name</td>
                    <td>{{myproject.projectName}}</td>
                  </tr>
                    <tr>
                      <td>Permission</td>
                      <td>{{myproject.permission}}</td>
                    </tr>
                  <tr>
                    <td>Project ID</td>
                    <td>{{myproject._id}}</td>
                  </tr>
                  <tr>
                    <td>Creation Time</td>
                    <td>{{myproject.creationTime}}</td>
                  </tr>
                  <tr>
                    <td>Update Time</td>
                    <td>{{myproject.updateTime}}</td>
                  </tr>
                  <tr>
                    <td>Input File</td>
                      <td><a href="{{myproject.projectInputFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectInputFileName}}</a></td>
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>Parameters</td>
                    <td>
                      <ul style="list-style-type:none;padding-left:0px">
                        <li>Elevation (Deg): <input type="text" size="5" id="disloc_elevation" name="disloc_elevation" value=60 /></li>
                        <li>Azimuth (Deg): <input type="text" size="5" id="disloc_azimuth" name="disloc_azimuth" value=0 /></li>
                        <li>Frequency (GHz): <input type="text" size="5" id="disloc_frequency" name="disloc_frequency" value=1.26 /></li>
                      </ul>
                    </td>
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>Output File</td>
                      <td><a href="{{myproject.projectOutputFileNameUrl}}" target="_blank" type="text/plain" download>{{myproject.projectOutputFileName}}</a></td>
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>Log File</td>
                      <td><a href="{{myproject.projectLogFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectLogFileName}}</a></td>
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>Stdout</td>
                      <td><a href="{{myproject.projectStandardOutUrl}}" target="_blank" type="text/plain">{{myproject.projectStandardOut}}</td>
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>Stderr</td>
                      <td><a href="{{myproject.projectStandardErrorUrl}}" target="_blank" type="text/plain">{{myproject.projectStandardError}}</a></td>
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>Output KML</td>
                      <td><input checked type="checkbox" id="displaydisloc_outputkml" value="disloc_outputkml" onclick="check_dislockml(this)" style="display:none"><a id="disloc_outputkml" href="{{myproject.projectOutputKMLFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectOutputKMLFileName}}</a></td>
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>SARImage KML</td>
                      <td><input checked type="checkbox" id="displaydisloc_sarimagekml" value="disloc_sarimagekml" onclick="check_dislockml(this)" style="display:none"><a id="disloc_sarimagekml" href="{{myproject.projectOutputSARImageKMLFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectOutputSARImageKMLFileName}}</a></td>                    
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>Tiltmap Output</td>
                      <td><a href="{{myproject.projectOutputTiltCSVFileNameUrl}}" target="_blank" type="text/plain" download>{{myproject.projectOutputTiltCSVFileName}}</a></td>
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>Strain Magnitude KML</td>
                      <td><input checked type="checkbox" id="displaydisloc_strainmagkml" value="disloc_strainmagkml" onclick="check_dislockml(this)" style="display:none"><a id="disloc_strainmagkml" href="{{myproject.projectOutputStrainMagFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectOutputStrainMagFileName}}</a></td>
                  </tr>
                  <tr ng-show="myproject.status == 'Completed'">
                    <td>Download All</td>
                      <td><a href="{{myproject.projectZipFileNameUrl}}" target="_blank" type="text/plain" download>{{myproject.projectZipFileName}}</a></td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td>{{myproject.status}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
