<div class="blur" id="map-canvas"></div>
<div id="info-bar"></div>

<!-- geogateway site navigation bar -->
<div class="navigation">
  <img id="logo-nav" src="/images/logos/logo.png" alt="GeoGateway Logo">
  <span class="default-font lightBLUE"> Tools for Analysis, Modeling, and Response of Geodetic Imaging Products</span>
  
  <!-- set up tools panel and profile panel toggle -->
  <button class="panel-toggle" id="tools"><span class="glyphicon glyphicon-wrench"> </span></button>
  
  <button class="panel-toggle" id="profile"><span class="glyphicon glyphicon-user"> </span></button>
  
</div>

<div class="navigation-shadow"></div>

